/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#446574+0,5c899b+45,5c899b+45,5c899b+75,5c899b+100 */
.gradient365 {
  background: #446574; /* Old browsers */
  background: -moz-linear-gradient(top,  #446574 0%, #5c899b 45%, #5c899b 45%, #5c899b 75%, #5c899b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#446574), color-stop(45%,#5c899b), color-stop(45%,#5c899b), color-stop(75%,#5c899b), color-stop(100%,#5c899b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #446574 0%,#5c899b 45%,#5c899b 45%,#5c899b 75%,#5c899b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #446574 0%,#5c899b 45%,#5c899b 45%,#5c899b 75%,#5c899b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #446574 0%,#5c899b 45%,#5c899b 45%,#5c899b 75%,#5c899b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #446574 0%,#5c899b 45%,#5c899b 45%,#5c899b 75%,#5c899b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#446574', endColorstr='#5c899b',GradientType=0 ); /* IE6-9 */
}
